<div>
    <div class="action-row">
        <button type="button" routerLink="/esp32-schemes">Open ESP32-Schemes</button>
    </div>
    <mat-form-field>
    <mat-label>Select a board</mat-label>
    <mat-select [(value)]="selectedBoard" (selectionChange)="onBoardChange($event.value)">
        @for (boardName of boardNames; track boardName) {
        <mat-option [value]="boardName">
            {{boardName}}
        </mat-option>
    }
    </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Select a scheme</mat-label>
        <mat-select [(value)]="selectedScheme" (selectionChange)="onSchemeChange($event.value)">
            @for (scheme of schemes; track scheme) {
                <mat-option [value]="scheme">
                    {{scheme}}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>
    <h2>{{selectedBoard}} - {{selectedScheme}}</h2>
    <table>
        <tbody>
                    <tr>
                <td>Board ID:</td>
                <td class="second_column">{{selectedBoard}}</td>
            </tr>
            <tr>
                <td>Board Name:</td>
                <td class="second_column">{{esp32DataService.getBoardName(selectedBoard)}}</td>
            </tr>
            <tr>
                <td>Memory Size:</td>
                <td class="second_column">{{esp32DataService.getMemorySize(selectedBoard)}}</td>
            </tr>
            <tr>
                <td>Scheme Default:</td>
                <td class="second_column">{{partitionsData[selectedBoard]?.default}}</td>
            </tr>
            <tr>
                <td>Scheme ID:</td>
                <td class="second_column">{{selectedScheme}}</td>
            </tr>
            <tr>
                <td>Scheme Name:</td>
                <td class="second_column">{{partitionsData[selectedBoard]?.schemes?.[selectedScheme]?.full_name}}</td>
            </tr>
        </tbody>
    </table>
    <app-esp32-partition-view
        [schemeName]="partitionsData[selectedBoard]?.schemes?.[selectedScheme]?.full_name"
        [selectedSchemeData]="selectedSchemeData"
    ></app-esp32-partition-view>
</div>
