.text-align-right {
    text-align: right;
  }

.svg-container {
  width: 100%;
  height: 100px;
  background: green;
  position: relative;
}

.svg-container > svg{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.color-cell {
  width: 30px;
  height: 30px;
  padding: 8px;
}

.color-indicator {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: 1.5px solid black;
}