.text-align-right {
    text-align: right;
  }

.svg-container {
  width: 100%;
  height: 100px;
  background: green;
  position: relative;
}

.svg-container > svg{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}